@font-face {
  font-family: 'Pixel';
  src: url("../assets/fonts/Silkscreen/slkscr.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'Pixel';
  src: url("../assets/fonts/Silkscreen/slkscrb.ttf");
  font-weight: 700; }
@font-face {
  font-family: 'PrssStart';
  src: url("../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf");
  font-weight: 700; }
* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }
  html body {
    font-family: PrssStart, serif;
    min-height: 100vh;
    max-width: 100vw;
    background-color: black; }
  html a {
    outline: none; }
  html li {
    list-style-type: none; }

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #9f00ff; }
  header * {
    font-weight: bold; }
  header h1::selection {
    color: #ffffff;
    background: #000000; }
  header .page-name {
    margin-left: 20px;
    font-size: 13pt; }
  header .head-profile {
    display: none;
    align-items: center;
    max-width: 190px; }
    header .head-profile .profile-logo {
      height: 30px; }
    header .head-profile .profile-name {
      color: white;
      margin-left: 15px;
      font-size: 10pt;
      line-height: 1.2em; }

main {
  color: white; }

footer {
  height: 50px; }

.button-container {
  min-width: 100px;
  text-align: center;
  padding: 10px 0; }

.modal-button {
  margin: 0 auto; }

#blockscreen, #modalwindow {
  position: fixed; }

#modalwindow {
  width: 600px;
  display: inline;
  text-align: center;
  left: 45%;
  margin-top: -16px;
  margin-left: -250px;
  transition: opacity .5s; }
  #modalwindow .window {
    padding: 10px; }
  #modalwindow input {
    width: 0;
    height: 0;
    opacity: 0; }

#blockscreen {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity .5s; }

.initial {
  opacity: 0;
  background: #ffffff;
  transition: opacity .5s;
  display: none;
  word-spacing: -2pt;
  z-index: 11; }

.smooth-appearing {
  opacity: 1;
  display: block; }

.hidden {
  display: none; }

.rules {
  text-align: left;
  transition: opacity .5s; }
  .rules .rools_intro {
    font-size: 13pt;
    margin: 0 auto 3vh auto; }
  .rules ul > li {
    margin: 10px 0;
    font-size: 11pt; }
    .rules ul > li p {
      color: #59009c;
      font-size: 10pt;
      padding: 10px 0 0 20px; }

.leader-boards {
  transition: opacity .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .leader-boards h1 {
    color: #59009c;
    margin: 5vh 0; }
  .leader-boards h3 {
    margin: 20px 0; }
  .leader-boards table {
    border-collapse: collapse;
    margin-bottom: 20px; }
    .leader-boards table th {
      color: #59009c;
      font-size: 16pt;
      font-weight: bold; }
    .leader-boards table th, .leader-boards table td {
      padding: 10px;
      border: 4px solid white; }

#congratulations-window h4 {
  font-size: 24pt;
  margin: 20px 0; }

.game-info span {
  color: #59009c;
  font-size: 16pt; }

.registration-form {
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
  color: black; }
  .registration-form label {
    padding-bottom: 2vh;
    vertical-align: middle;
    position: relative; }
    .registration-form label input {
      height: 20px;
      font-family: PrssStart, serif;
      border: none;
      outline: none;
      bottom: 1.6vh; }

.input_field {
  display: flex;
  flex-direction: row-reverse;
  max-height: 20px; }

.cmd_for_login {
  display: flex;
  font-family: PrssStart, serif;
  font-size: 14px;
  color: #59009c;
  width: 60%;
  overflow: hidden;
  position: relative; }

#cmd_for_login span {
  white-space: pre; }

.cursor {
  float: left;
  width: 10px;
  height: 14px;
  background: #59009c;
  visibility: hidden; }

.pass_span {
  display: none; }

#hidden_span {
  position: absolute;
  z-index: 14; }

.tooltip {
  position: fixed;
  z-index: 15;
  font-size: 9pt; }

.difficulty-container {
  margin: 0 auto;
  width: 50%;
  overflow: hidden; }
  .difficulty-container h4 {
    font-size: 20pt; }

.radio-item {
  margin-top: 4vh;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex; }
  .radio-item input {
    position: absolute;
    opacity: 0; }
  .radio-item input:checked ~ .radio-but:after {
    display: block; }
  .radio-item .radio-but {
    position: absolute;
    height: 25px;
    width: 25px;
    top: -9px;
    right: 0;
    border: 2px solid #000000; }
    .radio-item .radio-but:hover {
      background-color: #7b7b7b; }
    .radio-item .radio-but:after {
      content: "X";
      color: #46007b;
      font-size: 22pt;
      position: absolute;
      display: none; }

.shirts-container h4 {
  font-size: 18pt;
  margin: 10px 0; }
.shirts-container div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.shirts-item {
  width: 90px;
  height: 140px;
  margin: 0 40px;
  cursor: pointer; }
  .shirts-item input {
    position: absolute;
    opacity: 0; }
  .shirts-item input:checked ~ .shirt-example {
    background-color: #373736; }
  .shirts-item:hover {
    transform: scale(1.1); }

.shirt-example {
  height: 140px;
  width: 90px; }

.main-menu {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 5vh;
  transition: opacity .5s; }
  .main-menu h4 {
    font-size: 32pt;
    line-height: 1.3em;
    margin: 10px; }
  .main-menu div {
    margin: auto;
    height: 50px; }
    .main-menu div .eightbit-btn {
      font-size: 14pt; }
      .main-menu div .eightbit-btn:hover {
        color: white; }
      .main-menu div .eightbit-btn:before {
        border-top-color: white;
        border-bottom-color: white; }
      .main-menu div .eightbit-btn:after {
        border-left-color: white;
        border-right-color: white; }
    .main-menu div .start {
      font-size: 18pt; }

.border-8bit {
  border-style: solid;
  border-width: .25em 0;
  box-shadow: -.375em 0 0 -.125em, .375em 0 0 -.125em;
  margin: .5em .75em; }
  .border-8bit:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .25em;
    bottom: .375em;
    content: '';
    left: -.5em;
    pointer-events: none;
    position: absolute;
    top: .5em;
    right: -.5em;
    z-index: -1; }
  .border-8bit:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 .25em;
    bottom: .125em;
    content: '';
    left: -.375em;
    position: absolute;
    top: .125em;
    right: -.375em;
    z-index: -2; }

/*# sourceMappingURL=style.css.map */
